@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1623290715690') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-component:before {
  content: "\e67b";
}

.icon-basic:before {
  content: "\e67c";
}

.icon-solution:before {
  content: "\e67d";
}

.icon-person:before {
  content: "\e67e";
}

.icon-adobe-ai:before {
  content: "\e67f";
}

.icon-adobe-ae:before {
  content: "\e680";
}

.icon-adobe-fw:before {
  content: "\e681";
}

.icon-adobe-flashplayer:before {
  content: "\e682";
}

.icon-adobe-id:before {
  content: "\e683";
}

.icon-alipay-fill-square:before {
  content: "\e684";
}

.icon-alipay-fill-round:before {
  content: "\e685";
}

.icon-alipay:before {
  content: "\e686";
}

.icon-angular:before {
  content: "\e687";
}

.icon-apple:before {
  content: "\e688";
}

.icon-adobe-ps:before {
  content: "\e689";
}

.icon-android:before {
  content: "\e68a";
}

.icon-adobe:before {
  content: "\e68b";
}

.icon-alipay-paymentcode:before {
  content: "\e68c";
}

.icon-applepay:before {
  content: "\e68d";
}

.icon-aliyun:before {
  content: "\e68e";
}

.icon-appstore-fill-round:before {
  content: "\e68f";
}

.icon-alimama:before {
  content: "\e690";
}

.icon-appstore:before {
  content: "\e691";
}

.icon-barcode-fill-square:before {
  content: "\e692";
}

.icon-baidu:before {
  content: "\e693";
}

.icon-back:before {
  content: "\e694";
}

.icon-bitcoin:before {
  content: "\e695";
}

.icon-bytedance:before {
  content: "\e696";
}

.icon-buffer:before {
  content: "\e697";
}

.icon-appstore-fill-square:before {
  content: "\e698";
}

.icon-barcode:before {
  content: "\e699";
}

.icon-camera-fill:before {
  content: "\e69a";
}

.icon-basic1:before {
  content: "\e69b";
}

.icon-chrome:before {
  content: "\e69c";
}

.icon-euro:before {
  content: "\e69d";
}

.icon-codepen-fill-round:before {
  content: "\e69e";
}

.icon-cart-fill-round:before {
  content: "\e69f";
}

.icon-dropbox:before {
  content: "\e6a0";
}

.icon-close-fill:before {
  content: "\e6a1";
}

.icon-designernews:before {
  content: "\e6a2";
}

.icon-cross:before {
  content: "\e6a3";
}

.icon-dts:before {
  content: "\e6a4";
}

.icon-appstore-square:before {
  content: "\e6a5";
}

.icon-favor:before {
  content: "\e6a6";
}

.icon-freebsd-devil:before {
  content: "\e6a7";
}

.icon-github-fill-round:before {
  content: "\e6a8";
}

.icon-facebook:before {
  content: "\e6a9";
}

.icon-camera:before {
  content: "\e6aa";
}

.icon-component1:before {
  content: "\e6ab";
}

.icon-google:before {
  content: "\e6ac";
}

.icon-cd:before {
  content: "\e6ad";
}

.icon-google1:before {
  content: "\e6ae";
}

.icon-html:before {
  content: "\e6af";
}

.icon-google2:before {
  content: "\e6b0";
}

.icon-foursquare:before {
  content: "\e6b1";
}

.icon-google3:before {
  content: "\e6b2";
}

.icon-gitee-fill-round:before {
  content: "\e6b3";
}

.icon-dribbble:before {
  content: "\e6b4";
}

.icon-google4:before {
  content: "\e6b5";
}

.icon-huawei:before {
  content: "\e6b6";
}

.icon-instagram:before {
  content: "\e6b7";
}

.icon-ios-logout:before {
  content: "\e6b8";
}

.icon-jinritoutiao-fill-round:before {
  content: "\e6b9";
}

.icon-ios-login:before {
  content: "\e6ba";
}

.icon-iqiyi:before {
  content: "\e6bb";
}

.icon-markdown-fill-square:before {
  content: "\e6bc";
}

.icon-logout:before {
  content: "\e6bd";
}

.icon-linkedin:before {
  content: "\e6be";
}

.icon-js-square:before {
  content: "\e6bf";
}

.icon-location:before {
  content: "\e6c0";
}

.icon-js:before {
  content: "\e6c1";
}

.icon-linkedin1:before {
  content: "\e6c2";
}

.icon-loading:before {
  content: "\e6c3";
}

.icon-notification-mute:before {
  content: "\e6c4";
}

.icon-leshi:before {
  content: "\e6c5";
}

.icon-location-fill:before {
  content: "\e6c6";
}

.icon-microphone-mute:before {
  content: "\e6c7";
}

.icon-loading1:before {
  content: "\e6c8";
}

.icon-less:before {
  content: "\e6c9";
}

.icon-mac:before {
  content: "\e6ca";
}

.icon-noscan-eye:before {
  content: "\e6cb";
}

.icon-markdown:before {
  content: "\e6cc";
}

.icon-notification-fill:before {
  content: "\e6cd";
}

.icon-office-outlook:before {
  content: "\e6ce";
}

.icon-netease-fill-square:before {
  content: "\e6cf";
}

.icon-login:before {
  content: "\e6d0";
}

.icon-oppo:before {
  content: "\e6d1";
}

.icon-phone:before {
  content: "\e6d2";
}

.icon-office-word:before {
  content: "\e6d3";
}

.icon-loading2:before {
  content: "\e6d4";
}

.icon-office-onenote:before {
  content: "\e6d5";
}

.icon-office-excel:before {
  content: "\e6d6";
}

.icon-playstation:before {
  content: "\e6d7";
}

.icon-microphone:before {
  content: "\e6d8";
}

.icon-css:before {
  content: "\e6d9";
}

.icon-netease:before {
  content: "\e6da";
}

.icon-reddit-fill-round:before {
  content: "\e6db";
}

.icon-qq-fill-round:before {
  content: "\e6dc";
}

.icon-oppo-fill-round:before {
  content: "\e6dd";
}

.icon-react:before {
  content: "\e6de";
}

.icon-octocat:before {
  content: "\e6df";
}

.icon-rss:before {
  content: "\e6e0";
}

.icon-qqmusic-fill-round:before {
  content: "\e6e1";
}

.icon-pinterest:before {
  content: "\e6e2";
}

.icon-rss-fill-round:before {
  content: "\e6e3";
}

.icon-qq:before {
  content: "\e6e4";
}

.icon-qr-code:before {
  content: "\e6e5";
}

.icon-person1:before {
  content: "\e6e6";
}

.icon-office-pptx:before {
  content: "\e6e7";
}

.icon-instagram-fill-round:before {
  content: "\e6e8";
}

.icon-sass:before {
  content: "\e6e9";
}

.icon-scan:before {
  content: "\e6ea";
}

.icon-scan-eye:before {
  content: "\e6eb";
}

.icon-retail-store:before {
  content: "\e6ec";
}

.icon-reddit:before {
  content: "\e6ed";
}

.icon-setting:before {
  content: "\e6ee";
}

.icon-shutdown:before {
  content: "\e6ef";
}

.icon-skypeicon:before {
  content: "\e6f0";
}

.icon-jinritoutiao:before {
  content: "\e6f1";
}

.icon-snapchat:before {
  content: "\e6f2";
}

.icon-solution1:before {
  content: "\e6f3";
}

.icon-python:before {
  content: "\e6f4";
}

.icon-sansung:before {
  content: "\e6f5";
}

.icon-steam-fill-round:before {
  content: "\e6f6";
}

.icon-steam:before {
  content: "\e6f7";
}

.icon-store:before {
  content: "\e6f8";
}

.icon-tamll-fill-square:before {
  content: "\e6f9";
}

.icon-souhushipin:before {
  content: "\e6fa";
}

.icon-taobao-fill-round:before {
  content: "\e6fb";
}

.icon-qr-code-square:before {
  content: "\e6fc";
}

.icon-stylus:before {
  content: "\e6fd";
}

.icon-search:before {
  content: "\e6fe";
}

.icon-taobao:before {
  content: "\e6ff";
}

.icon-tengxunshipin:before {
  content: "\e700";
}

.icon-souhu:before {
  content: "\e701";
}

.icon-taxi:before {
  content: "\e702";
}

.icon-time:before {
  content: "\e703";
}

.icon-taxi1:before {
  content: "\e704";
}

.icon-tencent:before {
  content: "\e705";
}

.icon-smartisan-fill-round:before {
  content: "\e706";
}

.icon-tmall-fill-text:before {
  content: "\e707";
}

.icon-tmall-head:before {
  content: "\e708";
}

.icon-time-fill:before {
  content: "\e709";
}

.icon-tumblr:before {
  content: "\e70a";
}

.icon-tmall:before {
  content: "\e70b";
}

.icon-twitch:before {
  content: "\e70c";
}

.icon-twitter:before {
  content: "\e70d";
}

.icon-twitter-fill-round:before {
  content: "\e70e";
}

.icon-tux:before {
  content: "\e70f";
}

.icon-usd-fill-round:before {
  content: "\e710";
}

.icon-usd:before {
  content: "\e711";
}

.icon-vimeo-fill-square:before {
  content: "\e712";
}

.icon-user:before {
  content: "\e713";
}

.icon-vimeo:before {
  content: "\e714";
}

.icon-vivo-fill-round:before {
  content: "\e715";
}

.icon-vue:before {
  content: "\e716";
}

.icon-vivo:before {
  content: "\e717";
}

.icon-wangwang:before {
  content: "\e718";
}

.icon-wangwang-fill-square:before {
  content: "\e719";
}

.icon-we-chatpay:before {
  content: "\e71a";
}

.icon-wechat-fill-round:before {
  content: "\e71b";
}

.icon-cart:before {
  content: "\e71c";
}

.icon-wechat:before {
  content: "\e71d";
}

.icon-windows-fill-round:before {
  content: "\e71e";
}

.icon-wechat-share-fill-square:before {
  content: "\e71f";
}

.icon-windows:before {
  content: "\e720";
}

.icon-windows1:before {
  content: "\e721";
}

.icon-whatsapp:before {
  content: "\e722";
}

.icon-xbox:before {
  content: "\e723";
}

.icon-xiaomi-fill-round:before {
  content: "\e724";
}

.icon-wordpress:before {
  content: "\e725";
}

.icon-xiaomi:before {
  content: "\e726";
}

.icon-yahoo-fill-square:before {
  content: "\e727";
}

.icon-yahoo:before {
  content: "\e728";
}

.icon-yen-fill-round:before {
  content: "\e729";
}

.icon-yen:before {
  content: "\e72a";
}

.icon-youtube-fill-square:before {
  content: "\e72b";
}

.icon-youku:before {
  content: "\e72c";
}

.icon-zhongxing-fill-round:before {
  content: "\e72d";
}

.icon-zhongxing:before {
  content: "\e72e";
}

.icon-youtube-fill-round:before {
  content: "\e72f";
}

